USE [master]
GO
/****** Object:  Database [Peaje]    Script Date: 20/9/2025 19:12:00 ******/
CREATE DATABASE [Peaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Peaje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Peaje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Peaje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Peaje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Peaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Peaje]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelePase]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelePase](
	[id] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[hora] [datetime] NULL,
	[patente] [int] NULL,
	[importe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoVehiculo]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVehiculo](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[idCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[patente] [int] NOT NULL,
	[marca] [nvarchar](50) NULL,
	[modelo] [nvarchar](50) NULL,
	[idTipoVehiculo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TelePase]  WITH CHECK ADD FOREIGN KEY([patente])
REFERENCES [dbo].[Vehiculo] ([patente])
GO
ALTER TABLE [dbo].[TipoVehiculo]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([idTipoVehiculo])
REFERENCES [dbo].[TipoVehiculo] ([id])
GO
/****** Object:  StoredProcedure [dbo].[AgregarTelePase]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarTelePase]
	@idTelePase INT,
	@fecha DATETIME,
	@hora DATETIME,
	@patente NVARCHAR(50),
	@importe INT
AS
BEGIN
	insert into TelePase (id,fecha,hora,patente,importe)
	values (@idTelePase,@fecha,@hora,@patente,@importe)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarVehiculo]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarVehiculo]
	@patente NVARCHAR(50),
	@marca NVARCHAR(50),
	@modelo NVARCHAR(50),
	@idTipoVehiculo INT
AS
BEGIN
insert into Vehiculo (patente,marca,modelo,idTipoVehiculo)
values (@patente,@marca,@modelo,@idTipoVehiculo)
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarTelePase]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarTelePase]
	@id INT
AS
BEGIN
	delete from TelePase where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarVehiculo]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarVehiculo]
	@patente INT
AS
BEGIN
	delete from Vehiculo where patente= @patente
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarTelepase]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarTelepase] 
	@id INT,
	@fecha DATETIME,
	@hora DATETIME,
	@patente INT,
	@importe INT
AS
BEGIN
	update TelePase
	set
	fecha=@fecha,
	hora=@hora,
	patente=@patente,
	importe=@importe
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarVehiculo]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarVehiculo] 
	@patente INT,
	@marca NVARCHAR(50),
	@modelo NVARCHAR(50),
	@idTipoVehiculo INT
AS
BEGIN
	update Vehiculo
	set
	marca = @marca,
	modelo= @modelo,
	idTipoVehiculo = @idTipoVehiculo
	where patente=@patente
END
GO
/****** Object:  StoredProcedure [dbo].[MostrarVehiculosPorDyH]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MostrarVehiculosPorDyH]
@fecha DATETIME,
@hora DATETIME
AS
BEGIN
	
	SELECT COUNT (*) AS CantVehiculos
	from TelePase tp
	WHERE
	CONVERT(date,tp.fecha) = CONVERT (date,@fecha)
	AND DATEPART(HOUR, tp.hora) = DATEPART(HOUR,@hora)
	AND DATEPART(MINUTE, tp.hora) = DATEPART(MINUTE,@hora)
	AND DATEPART(SECOND,tp.hora) = DATEPART(SECOND,@hora);

    
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTotalPorCategoria]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTotalPorCategoria]
	
AS
BEGIN
	    SELECT 
        c.id              AS IdCategoria,
        c.descripcion     AS Categoria,
        SUM(tp.importe)   AS TotalRecaudado,
        COUNT(*)          AS CantPasos
        FROM dbo.TelePase     tp
        JOIN dbo.Vehiculo     v  ON v.patente      = tp.patente
        JOIN dbo.TipoVehiculo tv ON tv.id          = v.idTipoVehiculo
        JOIN dbo.Categoria    c  ON c.id           = tv.idCategoria
        GROUP BY c.id, c.descripcion
        ORDER BY TotalRecaudado DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTotalRecaudado]    Script Date: 20/9/2025 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerTotalRecaudado]
	
AS
BEGIN
	SELECT SUM(importe) AS TotalRecaudado
    FROM dbo.TelePase;
END
GO
USE [master]
GO
